body{
    background-size: cover;
}

.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note{
    font-size: 15px;
    color: black;
}



canvas{
    border: 1px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px white;
    margin-top: 100px;
}

.song_name{
    margin: 20px;
    font-size: 23px;
}